<header class="header-wrap">
    <img src="../../assets/images/header.png" alt="">
</header>
<div class="sign-out text-right"><a href=""><i class="fa fa-power-off"></i> Sign Out</a></div>
<div class="container dashboard"> 
  <div class="row">
    <div class="col-sm-2 profile-img" >
      <img src="./../assets/images/default_avatar.png" alt="">
    </div>
    <div class="col-sm-10">
        <div class="profile-detail">
          <h3>Utility passport Id -AHJJBCJHS542654</h3>
          <ul>
            <li><span class="text-left">First Name</span><span class="text-left detail">ABC</span></li>
            <li><span class="text-left">Last Name </span><span class="text-left detail">XYZ</span></li>
            <li><span class="text-left">Address</span><span class="text-left detail">BangaloreBangalore BangaloreBangalore BangaloreBanga loreBangal oreBangalore</span></li>
            <li><span class="text-left">Mobile</span><span class="text-left detail">3465757657</span></li>
            <li><span class="text-left">Email Id</span><span class="text-left detail">dhsav@uehuf.com</span></li>
          </ul>
        </div>
        <p class="reset"></p>
        <div class="associated-utility">
          <h3>Associated Utility</h3>
          <ul>
            <li>
              <div class="block"><img src="./../assets/images/Virgin_Mobile.png" alt=""></div>
              <br/><a href="" class="view-link">View / Edit</a>
            </li>
            <li>
              <div class="block"><img src="./../assets/images/Virgin_Mobile.png" alt=""></div>
              <br/><a href="" class="view-link">View / Edit</a>
            </li>
            <li>
              <div class="block"><img src="./../assets/images/Virgin_Mobile.png" alt=""></div>
              <br/><a href="" class="view-link">View / Edit</a>
            </li>
            <li>
              <div class="block"><img src="./../assets/images/Virgin_Mobile.png" alt=""></div>
              <br/><a href="" class="view-link">View / Edit</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
<div class="containter">
  <div class="row">
    <div class="col-sm-12">
      <div class="transaction-block">
        <ul>
          <li class="block-list">
            <div class="block">
              <p>dgd</p>
            </div>
          </li>
          <li class="block-list">
            <div class="block">
              <p>fgfg</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>