.header-wrap{
    height: 200px;
    width:100%;
}
.header-wrap img{
    height: 100%;
    width:100%;
}
.sign-out a{
    color: #fa9a12;
    padding: 20px;
}
.dashboard h3{
    border-bottom: 1px solid #8886;
    padding-bottom: 5px;
}
.profile-detail ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60%;
    float: left;
    
}
.profile-img{
    width:50px;
}
.profile-img img{
    width:100%;
}
.profile-detail ul li{
    margin: 5px 0px;
    width: 100%;
    float: left;
    color: #666;
}
.profile-detail ul li span{
    display: inline-block;
    width: 20%;
}
.profile-detail ul li span.detail{
    margin-left:20%;
    width: 60%;
}.associated-utility ul{
    margin:0;
    padding: 0;
    padding-top:20px;
}
.associated-utility ul li{
    width: 20%;
    list-style: none;
    float: left;
    margin-left: 25px;
}
.associated-utility ul li:first-child{
    margin-left: 0px;
}
.associated-utility ul li .block{
    width:100%;
    float:left;
    border: 1px solid #888;
    height: 200px;
}
.associated-utility ul li .block img{
    width:100%;
    padding: 20px;
}
.view-link{
    text-align: center;
    display: block;
    color: #f99a12;
}

.transaction-block{
    width:100%;
}
.transaction-block ul{
    list-style: none;
}