.header-wrap{
    height: 200px;
    width:100%;
}
.header-wrap img{
    height: 100%;
    width:100%;
}
.sign-out a{
    color: #fa9a12;
    padding: 20px;
}
.dashboard h3, .transaction-block h3{
    border-bottom: 1px solid #8886;
    padding-bottom: 5px;
}
.profile-detail ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60%;
    float: left;
    
}
.profile-img{
    width:50px;
}
.profile-img img{
    width:100%;
}
.profile-detail ul li{
    margin: 5px 0px;
    width: 100%;
    float: left;
    color: #666;
}
.profile-detail ul li >div{
    width: 20%;
    float: left;
}
.profile-detail ul li >div.detail{
    margin-left:20%;
    width: 60%;
}.associated-utility ul{
    margin:0;
    padding: 0;
    padding-top:20px;
}
.associated-utility ul li{
    width: 20%;
    list-style: none;
    float: left;
    margin-left: 25px;
}
.associated-utility ul li:first-child{
    margin-left: 0px;
}
.associated-utility ul li .block{
    width:100%;
    float:left;
    border: 1px solid #888;
    height: 200px;
}
.associated-utility ul li .block img{
    width:100%;
    padding: 20px;
}
.view-link{
    text-align: center;
    display: block;
    color: #f99a12 !important;
    cursor: pointer;
}

.transaction-block{
    width:100%;
    margin-top:30px;
    padding: 0px 30px;
}
.transaction-block ul{
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 30px;
    background:  #f99a1263;
    position: relative;
    padding: 20px;
}
.transaction-block ul li.block-list{
    width: 275px;
    list-style: none;
    margin-left: 25px;
    border: 1px solid #f99a12;
    display: inline-block;
    background: #fff;
    padding: 10px;
    color: #000;
}
.transaction-block ul li .block{ 
    text-align: left;
    overflow-x: auto;
    white-space: initial;
    height: 220px;
    word-wrap: break-word;
    
}